@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar-dropdown a.active {
  color: rgba(220, 38, 38, 1);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

section.special-offers:after {
  content: '';
  background: #2a3289;
  opacity: 0.4;
  position: absolute;
  inset: 0;
  z-index: 1;
}

section.packages:after {
  content: '';
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.4;
  position: absolute;
  inset: 0;
  z-index: 1;
}

section.hero-section:after {
  content: '';
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.9));
  position: absolute;
  inset: 0;
  z-index: 1;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.swiper-slide-container {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  max-width: 600px;
  margin: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.testimonial-box {
  box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.33);
}
.packages .swiper {
  padding: 15px !important;
  padding-top: 60px !important;
  box-sizing: border-box;
}
.packages .swiper-button-next {
  top: 16px;
  width: 20px;
}
.packages .swiper-button-prev {
  top: 16px;
  left: auto;
  right: 50px;
  width: 20px;
}
.packages .swiper-button-next::after,
.packages .swiper-button-prev::after {
  font-size: 30px;
}
